<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
metadata-complete="true" version="3.0">
  <display-name>Swagger Web Application</display-name>
  
	<servlet>
        <servlet-name>SampleServlet</servlet-name>
        <servlet-class>org.apache.solr.handler.component.SampleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SampleServlet</servlet-name>
        <url-pattern>/solr/MyParker/select</url-pattern>
    </servlet-mapping>
    
    <!-- swagger servlet reader -->
    <!-- <servlet>
        <servlet-name>DefaultServletConfig</servlet-name>
        <servlet-class>io.swagger.servlet.config.DefaultServletConfig</servlet-class>
        <init-param>
            <param-name>swagger.resource.package</param-name>
            <param-value>org.apache.solr.handler.component</param-value>
        </init-param>
        <init-param>
            <param-name>api.version</param-name>
            <param-value>2.0.0</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet> -->
    
    <!-- swagger api declaration -->
    <!-- <servlet>
        <servlet-name>ApiDeclarationServlet</servlet-name>
        <servlet-class>io.swagger.servlet.listing.ApiDeclarationServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApiDeclarationServlet</servlet-name>
        <url-pattern>/MyParker/handler-docs/*</url-pattern>
    </servlet-mapping> -->
    
    <!-- Jersey config servlet -->
  	<servlet>
	    <servlet-name>RESTfulApplication</servlet-name>
	    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
	    <init-param>
	      <param-name>com.sun.jersey.config.property.packages</param-name>
	      <param-value>io.swagger.jaxrs.json,
	                io.swagger.jaxrs.listing,
	                com.parker.webservice
	            </param-value>
	    </init-param>
	    <init-param>
	      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
	      <param-value>true</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup>
  	</servlet>
  	<servlet-mapping>
	    <servlet-name>RESTfulApplication</servlet-name>
	    <url-pattern>/application/*</url-pattern>
  	</servlet-mapping>
  
  	<servlet>
	    <servlet-name>Jersey2Config</servlet-name>
	    <servlet-class>io.swagger.jaxrs.config.DefaultJaxrsConfig</servlet-class>
	    <init-param>
	      <param-name>api.version</param-name>
	      <param-value>1.0.0</param-value>
	    </init-param>
	    <load-on-startup>2</load-on-startup>
  	</servlet>
  	
  	<servlet>
        <servlet-name>SwaggerBootstrap</servlet-name>
        <servlet-class>io.swagger.application.util.Bootstrap</servlet-class>
        <load-on-startup>2</load-on-startup>
  	</servlet>

 
</web-app>
